<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/List/Item.html
-->

<div class="blog-post posttype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}" itemscope="itemscope" itemtype="http://schema.org/Article">
	<n:excludeDisplayedNews newsItem="{newsItem}"/>

	<h2 class="blog-post-title">
		<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
			<span itemprop="headline">{newsItem.title}</span>
		</n:link>
	</h2>
	<p class="blog-post-meta">
		<time itemprop="datePublished" datetime="{f:format.date(date:newsItem.datetime, format:'F d, Y')}">
			<!--<f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>-->
			<f:format.date format="F d, Y">{newsItem.datetime}</f:format.date>
		</time>
		<f:if condition="{newsItem.author}">
			<span class="news-list-author">
				<f:translate key="author" arguments="{0:newsItem.author}"/>
			</span>
		</f:if>
	</p>
	<f:if condition="{newsItem.mediaPreviews}">
		<!-- media preview element -->
		<f:then>
			<div class="news-img-wrap">
				<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
					<f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
						<f:if condition="{mediaElement.originalResource.type} == 2">
							<f:image image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"/>
						</f:if>
						<f:if condition="{mediaElement.originalResource.type} == 4">
							<f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}"/>
						</f:if>
						<f:if condition="{mediaElement.originalResource.type} == 5">
							<f:image image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"/>
						</f:if>
					</f:alias>
				</n:link>
			</div>
		</f:then>

	</f:if>


	<!-- teaser -->
	<div class="teaser-text">
		<n:removeMediaTags>
			<f:if condition="{newsItem.teaser}">
				<f:then>
					<div itemprop="description">{newsItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</div>
				</f:then>
				<f:else>
					<div itemprop="description">{newsItem.bodytext -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</div>
				</f:else>
			</f:if>
		</n:removeMediaTags>

		<n:link newsItem="{newsItem}" settings="{settings}" class="more" title="{newsItem.title}">
			<f:translate key="more-link"/>
		</n:link>
	</div>
	<div class="post-footer border-top">
		<f:if condition="{newsItem.tags}">
			<!-- Tags -->
			<span class="news-list-tags" itemprop="keywords">
					<f:for each="{newsItem.tags}" as="tag">
						<span class="badge badge-secondary btn mr-2">{tag.title}</span>
					</f:for>
				</span>
		</f:if>
	</div>

</div>

</html>
