<f:layout name="Default"/>
<f:section name="Main">

    <main role="main" class="container">
        <div class="row">
            <h3 class="col-12 font-italic border-bottom">
                {data.title}
            </h3>
            <div class="col-md-8 blog-main">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
            </div>

            <aside class="col-md-4 blog-sidebar">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '2'}" />
            </aside>

        </div>

    </main>

    <f:render partial="Footer"/>

</f:section>